<h1>Show Dashboard</h1>

<ul>

  <li>
    <strong>Content:</strong>
    <%= @dashboard.content %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.dashboard_path(@conn, :edit, @dashboard) %></span>
<span><%= link "Back", to: Routes.dashboard_path(@conn, :index) %></span>
